<% var i = 0;%>

<h1><%= view.pathFromApp %></h1>

<ul>
  <% for (;i<5;i++) { %>
  <li> el valor es: <%= i %></li>
  <%} %>
</ul>



<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
</nav>



<div class="container">
<div class="row">
  <div class="col-2">
    Personas <br>

  </div>
  <div class="col-10">
    Cursos <br>
  </div>
  <div class="col-10">
    Bautismo <br>
  </div>
</div>
</div>

